{{#if bodyTag}}
  {{#ember-wormhole to=bodyElement}}
    <div class="tether-wrapper {{unless visible 'hidden'}}" name={{name}}>
      {{yield}}
    </div>
  {{/ember-wormhole}}
{{else}}
  {{#ember-wormhole destinationElement=bodyElement}}
    <div class="tether-wrapper {{unless visible 'hidden'}}" name={{name}}>
      {{yield}}
    </div>
  {{/ember-wormhole}}
{{/if}}
